{% extends "base.html" %}
{% load static %}

{% block linking %}
    <link rel="stylesheet" href="{% static 'face/static/css/indexStyle.css' %}">
{% endblock %}

{% block inside %}
    <table>
        <tr>
            <th colspan="2">
                <h1 class="welcoming_header">Welcome to the Cards World!</h1>
            </th>
        </tr>
        <tr>
            <td>
                <p class="welcoming_text">{% lorem %}</p>
            </td>
            <td>
                <div class="sign_box">
                    <br/>
                    <h2 class="introducer">
                        <i>Please, introduce yourself</i>
                    </h2>
                    <br/>
                    <input type="text" placeholder="Input login" class="login_box">
                    <br/>
                    <input type="password" placeholder="Input password" class="password_box">
                    <br/>
                    <button class="signer">Sign in</button>
                    <br/>
                    <a href="register/" class="regs">Register</a>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}