.welcoming_header{
    margin-left: 30px;
    color: #F8E6CD;
    font-size: 50px;
}

.sign_box{
    background-color: #E1AB61;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    text-align: center;
}

.introducer{
    background-color: #583305;
    height: 80px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 20px;
    font-size: 30px;
    color: white;
}

.login_box{
    border-radius: 3px;
    height: 40px;
}

.password_box{
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
    height: 43px;
}

.signer{
    border-radius: 3px;
    height: 70px;
    width: 260px;
    background-color: #9F6B24;
    font-size: 30px;
    color: white;
    margin-bottom: 14px;
}
.signer:hover{
    background-color: saddlebrown;
}
.signer:active{
    background-color: #351e02;
}

@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.welcoming_text{
    font-family: 'Rubik One', sans-serif;
      font-size: 50px;
      text-transform: uppercase;
      background: linear-gradient(45deg, #feec46 33%, #0b0404 66%, #171100);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #ff7600;
      display: table;
      margin: 20px auto;
}