body{
    background: rgba(47, 112, 41, 1);
}

.textcols {
	white-space: nowrap;
}
.textcols-item {
	white-space: normal;
	display: inline-block;
	width: 48%;
	vertical-align: top;
    color:#E4C485;
    margin-left: 15px;
    font-size: 25px;
}
.textcols .textcols-item:first-child {
	margin-right: 4%;
}

.welcoming_text{
    margin-left: 30px;
    color: #F8E6CD;
    font-size: 50px;
}

.sign_box{
    background-color: #E1AB61;
    margin-right: 150px;
    margin-left: 100px;
    border-radius: 20px;
    text-align: center;
}

.inroducer{
    background-color: #583305;
    height: 40px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 20px;
    font-size: 30px;
}

.login_box{
    border-radius: 3px;
    height: 40px;
}

.password_box{
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
    height: 43px;
}

.signer{
    border-radius: 3px;
    height: 70px;
    width: 160px;
    background-color: #9F6B24;
    color: white;
    margin-bottom: 14px;
}
.signer:hover{
    background-color: saddlebrown;
}
.signer:active{
    background-color: #351e02;
}

.regs